.container {
  width: 640px;
  margin: auto;
  background-color: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}
.container hr {
  height: 2px;
  border: none;
  background-color: #707070;
}
.container h2 {
  font-size: 27px;
  font-weight: 500;
}
.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.container button {
  margin: auto;
  background: #553f9a;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 80px;
  border-radius: 8px;
  cursor: pointer;
}

.container .index {
  margin: auto;
  font-size: 18px;
}
.container .corrent {
  background: #dffff2;
  border-color: #00d397;
}

.container .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}

.result_span {
  width: 150px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.result h2 {
  font-size: 18px;
}
.result h3 {
  margin-bottom: 4px;
  font-size: 17px;
}
.strong_font {
  font-size: 16px;
}
